body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup-form {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.signup-form ::placeholder {
  color: rgb(173, 169, 169);
}
.signup-form input {
  margin: .275rem;
  height: 1.6rem;
  border: 1px solid rgb(183, 178, 178);
}

.signup-form button {
  margin: 0 auto;
  width: 50%;
  height: 1.4rem;
}
